/**
 * Consider rolling in [PreCSS](https://github.com/jonathantneal/precss).
 */

/* Variable example. */
:root {
  /* Purple! */
  --mainColor: #7C577F;
  /* Teal! */
  --altColor: #1DB4C5;
  /* Darker Teal! */
  --altColorAccent: #126973;
  /* White! */
  --lightText: #FFFFFF;
  /* Black! */
  --darkText: #333333;

  --borderRadius: 4px;
  --headingFontFamily: 'Slabo 27px';
  --copyFontFamily: 'Open Sans';
  --rootFontSize: 16px;
}

:first-child {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--darkText);
  font-family: var(--copyFontFamily);
  font-size: var(--rootFontSize);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--mainColor);
  font-family: var(--headingFontFamily);
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.125em;
}

h2 {
  font-size: 48px;
  line-height: 1.208333em;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-family: var(--copyFontFamily);
  font-size: 1.3125rem;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

h5 {
  font-family: var(--copyFontFamily);
  font-size: .5625rem;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

p {
  line-height: 1.375em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

small {
  font-size: .75em;
  line-height: 1.416666em;
}

img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

@define-mixin container {
  padding: 1.875rem;
}

@define-mixin container__accented {
  @mixin container;
  background-color: var(--mainColor);
  color: var(--lightText);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & a {
    color: inherit;
  }
}

@define-mixin button {
  background-color: var(--altColor);
  border-radius: var(--borderRadius);
  box-shadow: inset 0 -2px 2px 0 var(--altColorAccent);
  color: var(--lightText);
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
}

@define-mixin button__link {
  @mixin button;
  background-color: transparent;
  box-shadow: none;
}

@define-mixin button__link__accented {
  @mixin button__link;
  border: 2px solid var(--lightText);
}

section > .lead-in {
  font-weight: 300;
}

.masthead {
  @mixin container__accented;

  @media (min-width: 500px) {
    text-align: left;
  }
}

.masthead .navbar {
  font-size: 0.875rem;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

  & .site-logo {
    display: inline-block;
  }

  & .nav--primary {
    display: block;
    margin-top: 1.875em;
    margin-bottom: 0;

    @media (min-width: 500px) {
      float: right;
      margin-top: 0;
      text-align: right;
    }

    & li {
      display: inline-block;

      & + li {
        margin-left: 2em;
      }
    }
  }

  & li a {
    @mixin button__link;
  }

  & li:last-child a {
    @mixin button__link__accented;
  }

}

.masthead .hero {
  font-size: 1.375rem;
  margin-top: 2.5rem;

  @media (min-width: 920px) {
    align-items: center;
    display: flex;
    font-size: 1rem;
    min-height: 407px;
  }

  @media (min-width: 1035px) {
    font-size: 1.2rem;
  }

  & .hero-content {
    @media (min-width: 920px) {
      margin-right: -20px;
      width: 320px;
    }
  }

  & h1 {
    color: inherit;
    font-size: 2.909090em;
  }

  & p {
    margin-top: 1.36em;
  }

  & .call-to-action {
    @mixin button;
    font-size: 0.727272em;
    margin-top: 1.875em;

    @media (min-width: 920px) {
      display: block;
    }
  }

  & .hero-image {
    display: none;

    @media (min-width: 920px) {
      display: block;
    }
  }

}

.features {

  & .feature {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 680px) {
      align-items: center;
      flex-direction: row-reverse;

      &:nth-child(2) {
        flex-direction: row;
      }
    }

    & .feature-image {
      @media (min-width: 680px) {
        width: 50%;
      }

      & img {
        display: block;
        width: 100%;
      }
    }

    & .feature-title {
      font-size: 2em;
    }

    & .feature-description {
      font-size: 1.5em;
      font-weight: 300;
      padding: 3.75rem;

      @media (min-width: 680px) {
        flex: 1;
        font-size: 1.2em;
        padding: 1rem;
      }

      @media (min-width: 840px) {
        font-size: 1.4em;
        padding: 1.5rem;
      }

      @media (min-width: 1110px) {
        font-size: 1.5em;
        padding: 3.75rem;
      }

      & p {
        margin-top: 1.083333em;

        @media (min-width: 680px) {
          margin-top: .7em;
        }
      }
    }

  }

}

.pricing {
  @mixin container__accented;
  background-image: url('../images/pricing-background.png');
  background-size: cover;

  & .pricing-tiers {
    @media (min-width: 800px) {
      display: flex;
      font-size: .85rem;
      margin-top: 1.875rem;
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  & .pricing-tier {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, .20) 0 2px 4px 0;
    color: var(--darkText);
    margin-top: 1.875rem;

    @media (min-width: 800px) {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      margin-right: 15px;
      margin-left: 15px;
    }

    &.featured {
      @media (min-width: 800px) {
        margin-top: -30px;
        margin-bottom: -30px;
      }
    }
  }

  & .pricing-tier-details {
    padding: 30px;

    @media (min-width: 800px) {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 20px;
    }
  }

  /* TODO: Should these font styles be universal for <h4>'s? */
  & .pricing-tier-name {
    background-color: #e2e2e2;
    box-shadow: rgba(0, 0, 0, .40) 0 1px 2px 0;
    color: var(--darkText);
    font-size: 1.3125em;
    padding: 20px;
  }

  & .price {
    color: var(--mainColor);

    & .unit {
      font-size: 32px;
      line-height: 60px;
      vertical-align: top;
    }

    & .amount {
      font-family: var(--headingFontFamily);
      font-size: 3.125em;
      line-height: 1.22em;

      &.numeric {
        font-size: 4.0625em;
        line-height: 1.215384em;
      }
    }

    & .term {
      color: #888888;
      font-size: 1.25em;
      line-height: 1.35em;
      vertical-align: super;
    }
  }

  & .pricing-tier-features {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 2.5em;
    list-style-type: none;
    padding-left: 0;
  }

  & .call-to-action {
    @mixin button;
    display: block;
    margin-top: 50px;

    @media (min-width: 800px) {
      margin-top: auto;
    }
  }

  & .footnote {
    display: block;
    margin-top: 30px;
    font-style: italic;
  }
}

.testimonials {
  @mixin container;

  & .testimonials-list {
    margin-top: 40px;

    @media (min-width: 900px) {
      margin-right: auto;
      margin-left: auto;
      text-align: left;
      width: 85%;
    }

    & .testimonial {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: 900px) {
        flex-direction: row;
      }

      & + .testimonial {
        margin-top: 30px;
      }
    }

    & .identity-plate {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      width: 80%;

      @media (min-width: 900px) {
        display: flex;
        margin-top: 0;
        width: 300px;
      }
    }

    & .details {
      @media (min-width: 900px) {
        margin-left: 50px;
      }
    }

    & .avatar {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    & .name {
      display: block;
      font-size: 20px;
      font-weight: 700;
    }

    & .title {
      display: block;
      font-weight: 300;
    }

    & .location {
      display: block;
      font-style: italic;
      font-weight: 300;
    }

    & .quote {
      font-size: 18px;
      line-height: 24px;
      margin: 0;

      @media (min-width: 900px) {
        flex: 1;
        margin-left: 30px;
      }
    }
  }
}

.anchor {
  @mixin container__accented;
  font-size: .75rem;
  text-align: left;

  & .identity {
    @media (min-width: 430px) {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  & .legal {
    display: block;
    font-weight: 300;

    @media (min-width: 430px) {
      flex-grow: 1;
      text-align: right;
    }

    & b {
      font-weight: 700;
    }
  }

  & .site-logo {
    display: block;
    margin-top: 2em;

    @media (min-width: 430px) {
      margin-top: 0;
    }
  }

  & .grouped-links-container {
    margin-top: .5em;

    @media (min-width: 430px) {
      display: flex;
    }

  }

  & .grouped-links {
    margin-top: 1.875em;

    @media (min-width: 430px) {
      flex: 1;
    }

    & ul {
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;

      & li {
        line-height: 1.916666em;
        margin-top: .5em;
      }
    }

    & a {
      padding-top: .25em;
      padding-bottom: .25em;
      text-decoration: none;

      @media (min-width: 800px) {
        padding-top: 0;
        padding-bottom: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

/* Nesting example. */
/*ul {
  & li {}
}*/
