<<<<<<< HEAD
/* Variable example. */
:root {
  /* Purple! */
  --mainColor: #7C577F;
  /* Teal! */
  --altColor: #1DB4C5;
  /* Darker Teal! */
  --altColorAccent: #126973;
  /* White! */
  --lightText: #FFFFFF;
  /* Black! */
  --darkText: #333333;
}

:first-child {
  margin-top: 0;
}

html {
  font-family: "Open Sans";
  font-size: 16px;
  color: var(--darkText);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Slabo 27px";
  font-weight: normal;
}

h1 {
  font-size: 64px;
  line-height: 1.125em;
}

.masthead {
  background-color: var(--mainColor);
  color: var(--lightText);
}

/* Nesting example. */
/*ul {
  & li {}
}*/
<<<<<<< Updated upstream
=======
html, body{
	overflow-x: hidden;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Slabo 27px", sans-serif;
}
h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position:relative;
  min-height: 1px;
  margin:0 2% 20px;
}
>>>>>>> 9441faaec9b44d1319fd8267309884e1ad6c1732
=======



/* navbar */
.navbar {
  margin-right: auto;
  margin-left: auto;

  & ul {
    list-style-type: none;
    padding-left: 0;
  }
}
>>>>>>> Stashed changes
