/**
 * Consider rolling in [PreCSS](https://github.com/jonathantneal/precss).
 */

/* Variable example. */
:root {
  /* Purple! */
  --mainColor: #7C577F;
  /* Teal! */
  --altColor: #1DB4C5;
  /* Darker Teal! */
  --altColorAccent: #126973;
  /* White! */
  --lightText: #FFFFFF;
  /* Black! */
  --darkText: #333333;

  --borderRadius: 4px;
}

:first-child {
  margin-top: 0;
}

html {
  font-family: "Open Sans";
  font-size: 16px;
  color: var(--darkText);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Slabo 27px";
  font-weight: normal;
}

h1 {
  font-size: 64px;
  line-height: 1.125em;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}

p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

@define-mixin container {
  padding: 1.875rem;
}

@define-mixin container__accented {
  @mixin container;
  background-color: var(--mainColor);
  color: var(--lightText);

  & a {
    color: var(--lightText);
  }
}

@define-mixin button {
  background-color: var(--altColor);
  border-radius: var(--borderRadius);
  box-shadow: inset 0 -2px 2px 0 var(--altColorAccent);
  color: var(--lightText);
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
}

@define-mixin button__link {
  @mixin button;
  background-color: transparent;
  box-shadow: none;
}

@define-mixin button__link__accented {
  @mixin button__link;
  border: 2px solid var(--lightText);
}

.masthead {
  @mixin container__accented;
}

.masthead .navbar {
  font-size: 0.875rem;

  & .site-logo {
    display: inline-block;
  }

  & .nav--primary {
    display: block;
    margin-top: 1.875em;
    margin-bottom: 0;
    text-align: center;

    & li {
      display: inline-block;

      & + li {
        margin-left: 2em;
      }
    }
  }

  & li a {
    @mixin button__link;
  }

  & li:last-child a {
    @mixin button__link__accented;
  }

}

.masthead .hero {
  font-size: 1.375rem;
  margin-top: 2.5rem;
  text-align: center;

  & p {
    margin-top: 1.36em;
  }

  & .call-to-action {
    @mixin button;
    font-size: 0.727272em;
    margin-top: 1.875em;
  }

}

.pricing {
  @mixin container__accented;
}

.anchor {
  @mixin container__accented;

  & .legal {
    display: block;
  }

  & .site-logo {
    display: block;
    margin-top: 2em;
  }

  & .grouped-links-container {

    @media only screen and (min-width: 680px) {
      float: right;
      width: 400px;
    }

  }

  & .grouped-links {
    margin-top: 1.5em;

    @media only screen and (min-width: 480px) {
      float: left;
      width: 33%;
      background: green;
    }

    & ul {
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;

      & li {
        /**/
      }
    }
  }

}

/* Nesting example. */
/*ul {
  & li {}
}*/
